/* TEMA AMARELO CLARO */
.tema-amarelo-claro{ 
    --bg-cor: #F5F7F8;    /* Branco Gelo */
    --bg-cor-2: #FFFFFF;  /* Branco Puro (Cards) */
    --bg-cor-3: #E9ECEE;
    --cor: #f0ec00;
    --cor-destaque: #1d1d1d;
    --cor-hover: #FFD700; 
    --txt-cor: #4A4A4A;   /* Cinza Grafite Suave */
    --txt-cor-2: #757575; /* Texto secundário */
    --txt-cor-3: #A0A0A0; /* Texto discreto */
    --txt-btn: #525252; 
    --border-cor: #E2E2E2;
}

/* TEMA LARANJA CLARO */
.tema-laranja-claro { 
    --bg-cor: #FDF9F6;    
    --bg-cor-2: #FFFFFF;  
    --bg-cor-3: #F5EEE6;
    --cor: #E67E22;
    --cor-destaque: #00796B;
    --cor-hover: #FF8C00;  
    --txt-cor: #524742;   /* Marrom acinzentado suave */
    --txt-cor-2: #7D706B;
    --txt-cor-3: #A89D98;
    --txt-btn: #FFFFFF;
    --border-cor: #F0E4D7;
}

/* TEMA VERMELHO CLARO */
.tema-vermelho-claro { 
    --bg-cor: #F9F7F7;    
    --bg-cor-2: #FFFFFF;  
    --bg-cor-3: #F0EDED;
    --cor: #D32F2F;
    --cor-destaque: #1976D2;
    --cor-hover: #FF4D4D; 
    --txt-cor: #4F4545;   /* Cinza quente suave */
    --txt-cor-2: #7A6E6E;
    --txt-cor-3: #A59B9B;
    --txt-btn: #FFFFFF;
    --border-cor: #EBE0E0;
}

/* TEMA VERDE CLARO */
.tema-verde-claro { 
    --bg-cor: #F5F8F6;    
    --bg-cor-2: #FFFFFF;  
    --bg-cor-3: #E9F0EB;
    --cor: #27AE60;
    --cor-destaque: #C2185B;
    --cor-hover: #2ECC71; 
    --txt-cor: #424945;   /* Verde musgo bem escuro e suave */
    --txt-cor-2: #6B7771;
    --txt-cor-3: #97A39D;
    --txt-btn: #FFFFFF;
    --border-cor: #DCE7E0;
}

/* TEMA AZUL CLARO */
.tema-azul-claro { 
    --bg-cor: #F4F8FB;    
    --bg-cor-2: #FFFFFF;  
    --bg-cor-3: #EAF1F7;
    --cor: #1976D2;
    --cor-destaque: #F57C00;
    --cor-hover: #3B82F6;  
    --txt-cor: #40464D;   /* Azul ardósia suave */
    --txt-cor-2: #6A7480;
    --txt-cor-3: #97A2AF;
    --txt-btn: #FFFFFF; 
    --border-cor: #DEE7EE;
}

/* TEMA AÇAÍ CLARO */
.tema-acai-claro { 
    --bg-cor: #F8F6F9;    
    --bg-cor-2: #FFFFFF;  
    --bg-cor-3: #F0EBF2;
    --cor: #6A1B9A;
    --cor-destaque: #00BFA5;
    --cor-hover: #975cc2; 
    --txt-cor: #4D4452;   /* Roxo berinjela suave */
    --txt-cor-2: #7A6F82;
    --txt-cor-3: #A99FB0;
    --txt-btn: #FFFFFF; 
    --border-cor: #E8DFEB;
}
/* TEMA AMARELO ESCURO */
.tema-amarelo-escuro { 
    --bg-cor: #121212; 
    --bg-cor-2: #1b1b1b;
    --bg-cor-3: #504f4f;
    --cor: #FFD700;
    --cor-destaque: #BB86FC;
    --cor-hover: #fadd69; 
    --txt-cor: #f5f5f5;
    --txt-cor-2: #a0a0a0;
    --txt-cor-3: #4b4a4a;
    --txt-btn: #2e2e2e; 
    --border-cor: #5a5a5a;
}

/* TEMA LARANJA ESCURO */
.tema-laranja-escuro { 
    --bg-cor: #121212; 
    --bg-cor-2: #1e1e1e;
    --bg-cor-3: #2e2e2e;
    --cor: #FF8C00;
    --cor-destaque: #03DAC6;
    --cor-hover: #fca063;  
    --txt-cor: #f5f5f5;
    --txt-cor-2: #a0a0a0;
    --txt-cor-3: #444444;
    --txt-btn: #1a1a1a;
    --border-cor: #333333;
}

/* TEMA VERMELHO ESCURO */
.tema-vermelho-escuro { 
    --bg-cor: #121212; 
    --bg-cor-2: #1e1e1e; 
    --bg-cor-3: #2e2e2e;
    --cor: #FF4D4D;
    --cor-destaque: #FFB74D;
    --cor-hover: #ff7878; 
    --txt-cor: #f5f5f5;
    --txt-cor-2: #a0a0a0;
    --txt-cor-3: #444444;
    --txt-btn: #1a1a1a;
    --border-cor: #333333;
}

/* TEMA VERDE ESCURO */
.tema-verde-escuro { 
    --bg-cor: #121212; 
    --bg-cor-2: #1e1e1e;
    --bg-cor-3: #2e2e2e;
    --cor: #2ECC71;
    --cor-destaque: #F06292;
    --cor-hover: #51c46c; 
    --txt-cor: #f5f5f5; 
    --txt-cor-2: #a0a0a0;
    --txt-cor-3: #444444;
    --txt-btn: #1a1a1a;
    --border-cor: #333333;
}

/* TEMA AZUL ESCURO */
.tema-azul-escuro { 
    --bg-cor: #121212; 
    --bg-cor-2: #1e1e1e;
    --bg-cor-3: #2e2e2e;
    --cor: #3B82F6;
    --cor-destaque: #FCD34D;
    --cor-hover: #60a5fa;  
    --txt-cor: #f5f5f5; 
    --txt-cor-2: #a0a0a0;
    --txt-cor-3: #444444;
    --txt-btn: #1a1a1a; 
    --border-cor: #333333;
}

/* TEMA AÇAÍ ESCURO */
.tema-acai-escuro { 
    --bg-cor: #0f0a14;
    --bg-cor-2: #1c1425;
    --bg-cor-3: #2d213a;
    --cor: #975cc2;
    --cor-destaque: #00FFD1;
    --cor-hover: #b388eb; 
    --txt-cor: #f5f5f5;
    --txt-cor-2: #b2b2b2;
    --txt-cor-3: #444444;
    --txt-btn: #1a1a1a; 
    --border-cor: #3a2a4d;
}
.app {
    background-color: var(--bg-cor);
    color: var(--txt-cor);
    transition: background 0.3s ease; /* Efeito suave ao trocar */
}
textarea,input,select{
    background: var(--bg-cor-2);
    color: var(--txt-cor-2);
}
.temaBotoes {
    background-color: var(--cor);
    color: var(--txt-btn); 
}

.temaBotoesHover {
    background-color: #fff;
    color: var(--cor);
}

.textoCor{
    color: var(--cor);
}
.temaTextos{
 color: var(--txt-cor) 
}
.temaTextos2{
    color: var(--txt-cor-2);
}
.temaTextos3{
    color: var(--txt-cor-3);
}
.temaTitulos{
    color: var(--cor-destaque);
}
.tituloBarnner{
    color: var(--cor);
   text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.699);
}
.subTituloBarnner{
    color: #f2f2f2);
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.699);
}
.temaCards {
    background-color: var(--bg-cor-2);
}
.temaCards2 {
    background-color: var(--bg-cor-3);
}
.temaBordas {
    border: 1.5px solid var(--cor);
}
/*
Para o Roxo (Açaí), se o fundo for branco, a cor #4b0082 (Indigo) ou #3d0130 (Açaí profundo)
*/