.tema-amarelo-branco { --bg-cor: #fcfcfc; --el-cor: #ffcc00;--el-cor-hover:#fadd69; --txt-cor: #1a1a1a; --bg-cor-2: #fff ;--txt-cor-2:#555;}
.tema-laranja-branco { --bg-cor: #fcfcfc; --el-cor: #ff6600;--el-cor-hover:#fca063;  --txt-cor: #1a1a1a;--bg-cor-2: #fff ;--txt-cor-2:#555; }
.tema-vermelho-branco { --bg-cor: #fcfcfc; --el-cor: #dc3545;--el-cor-hover:#e4717c; --txt-cor: #1a1a1a;--bg-cor-2: #fff ; --txt-cor-2:#555;}
.tema-verde-branco   { --bg-cor: #fcfcfc; --el-cor: #28a745;--el-cor-hover:#51c46c; --txt-cor: #1a1a1a; --bg-cor-2: #fff ;--txt-cor-2:#555; }
.tema-azul-branco    { --bg-cor: #fcfcfc; --el-cor: #007bff;--el-cor-hover:#3395ff;  --txt-cor: #1a1a1a; --bg-cor-2: #fff ;--txt-cor-2:#555; }
.tema-acai-branco    { --bg-cor: #fcfcfc; --el-cor: #4b0082;--el-cor-hover:#975cc2; --txt-cor: #1a1a1a; --bg-cor-2: #fff ;--txt-cor-2:#555; }

/* Temas Escuros (Fundo Preto) */
.tema-amarelo-preto  { --bg-cor: #0f0f0f;--el-cor-hover:#fadd69; --el-cor: #ffcc00; --txt-cor: #ffffff;--bg-cor-2: #282828 ;--txt-cor-2:#f2f2f2; }
.tema-laranja-preto  { --bg-cor: #0f0f0f;--el-cor-hover:#fca063; --el-cor: #ff6600; --txt-cor: #ffffff; --bg-cor-2: #282828;--txt-cor-2:#f2f2f2; }
.tema-vermelho-preto { --bg-cor: #0f0f0f;--el-cor-hover:#e4717c; --el-cor: #dc3545; --txt-cor: #ffffff; --bg-cor-2: #282828;--txt-cor-2:#f2f2f2; }
.tema-verde-preto    { --bg-cor: #0f0f0f;--el-cor-hover:#51c46c; --el-cor: #28a745; --txt-cor: #ffffff; --bg-cor-2: #282828;--txt-cor-2:#f2f2f2; }
.tema-azul-preto     { --bg-cor: #0f0f0f;--el-cor-hover:#3395ff; --el-cor: #007bff; --txt-cor: #ffffff; --bg-cor-2: #282828;--txt-cor-2:#f2f2f2; }
.tema-acai-preto     { --bg-cor: #0f0f0f;--el-cor-hover:#975cc2; --el-cor: #742ba8; --txt-cor: #ffffff;--bg-cor-2:#282828;--txt-cor-2:#f2f2f2;  }
  
.app {
    background-color: var(--bg-cor);
    color: var(--txt-cor);
    transition: background 0.3s ease; /* Efeito suave ao trocar */
}
textarea,input,select{
    background: var(--bg-cor-2);
}
.temaBotoes {
    background-color: var(--el-cor);
    color: var(--txt-cor); 
}
.temaBotoesHover {
    background-color: #fff;
    color: var(--el-cor);
}
.TemaElementos{
    
}
.temaTextos{
 color: var(--txt-cor-2) 
}
.temaTitulos{
    color: var(--el-cor);
}

.temaCards {
    background-color: var(--bg-cor-2);
}
/*
Para o Roxo (Açaí), se o fundo for branco, a cor #4b0082 (Indigo) ou #3d0130 (Açaí profundo)
*/